.container {
    height: ;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.content span {
    font-weight: bold;
}

.barberPlace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.barbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 380px;
    border: 1px solid black;
    border-radius: 16px;
    font-weight: bold;
}

.barbers:hover {
    background-color: #2f2f2f;
    color: #fff;
    cursor: pointer;
}

.tattooPlace {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.tattoo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 380px;
    border: 1px solid black;
    border-radius: 16px;
}

.tattoo:hover {
    background-color: #2d2d2d;
    color: #fff;
    cursor: pointer;
}