.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: #36393b;
    align-items: center;
    padding: 24px;
}

.logoContainer {
    border: 2px #eff2f5 solid;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.logoContainer:hover {
    cursor: pointer;
    background-color: #999fa2;
}

.listaLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.listaLinks a {
    text-decoration: none;
    color: #fff;
}

.listaLinks:hover {
    cursor: pointer
}